aiohttp
anytree
asgiref
asyncio
beautifulsoup4
bencode.py
bencoding
cfscrape
cloudscraper
feedparser
flask
gc-python-utils
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
heroku3
lk21
lxml
megasdkrestclient
pillow
psutil
psycopg2-binary
pybase64
pyrogram
python-dotenv
python-magic
python-telegram-bot
requests
SecretStorage
selenium
telegraph
tenacity
tgCrypto
xattr
waybackpy
git+https://github.com/Ajvj09/Ajayyt
git+https://github.com/Ajvj09/Ajayqb
git+https://github.com/Ajvj09/Ajay2p
git+https://github.com/Ajvj09/AjayS
